* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body {
	height: 100%;
	font-family: verdana;
}

.wrapper {
	min-height: 100%;
	padding-bottom: 76px;
}

.wrapper--intro {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	background-image: url(./img/gym.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper--intro:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.intro {
	position: relative;
	width: 170px;
	animation-name: bounceIn;
	animation-duration: 0.75s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.intro__logo {
	width: 100%;
	margin-bottom: 10px;
}

.intro__logo img {
	width: 100%;
}

.btn {
    display: flex;
    background-color: #1c1f1d;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn--intro {
	background-color: #f89513;
	padding: 15px;
	font-size: 14px;
}

.btn--intro:hover {
	background-color: #1c1f1d;
}
  

@-webkit-keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	20% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1);
	  transform: scale3d(1.1, 1.1, 1.1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9);
	  transform: scale3d(0.9, 0.9, 0.9);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(1.03, 1.03, 1.03);
	  transform: scale3d(1.03, 1.03, 1.03);
	}
  
	80% {
	  -webkit-transform: scale3d(0.97, 0.97, 0.97);
	  transform: scale3d(0.97, 0.97, 0.97);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  @keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	20% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1);
	  transform: scale3d(1.1, 1.1, 1.1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9);
	  transform: scale3d(0.9, 0.9, 0.9);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(1.03, 1.03, 1.03);
	  transform: scale3d(1.03, 1.03, 1.03);
	}
  
	80% {
	  -webkit-transform: scale3d(0.97, 0.97, 0.97);
	  transform: scale3d(0.97, 0.97, 0.97);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  .bounceIn {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
  }