@font-face {
  font-family: 'gora_freeregular';
  src: url('./fonts/gora-free-webfont.woff2') format('woff2'),
       url('./fonts/gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'opensans';
  src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('./fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'opensans';
  src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
       url('./fonts/opensans-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}


html, body {
  height: 100%;
	width: 100%;
	padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.wrapper {
	font-family: 'opensans', Arial, Helvetica, serif;
  min-height: 100%;
  padding-bottom: 76px;
  margin: 0 auto;
}

.header {
  background: #131415;
  color: #fff;
  height: 76px;
}

.container {
  width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maincontent__container {
  display: flex;
  justify-content: space-between;
}

.menu__list {
	display: flex;
}

.menu__elem {
	margin-right: 20px;
}

.menu__text {
  font-weight: bold;
  font-size: 15px;
}

.menu__elem:last-child {
	margin-right: 0;
}

.menu__link {
	display: flex;
	color: #fff;
}

.menu__text:hover {
	color: #cd7b14;
	transition: 0.3s;
}

.menu__img {
	margin-right: 10px;
}

.contacts {
  position: relative;
	display: flex;
  flex-direction: column;
justify-content: center;	
  text-align: right;
	height: 100%;

}

.contacts__tel {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.contacts__link {
  font-size: 14px;
    color: #b46f14;
    text-decoration: underline;
    font-weight: bold;
   
}

.contacts__drop {
	position: absolute;
	top: -1000px;
	right: 0;
	background-color: #fff;
	padding: 15px 9px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
	color: #000;
	width: 160px;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.3s;
}

.contacts__drop:after {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 2px;
	display: block;
	border: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0;
	z-index: 100;
}

.contacts__drop:before {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	height: 10px;
}


.contacts:hover .contacts__drop {
	opacity: 1;
	top: calc(100% + 10px);
}

.footer {
  display: flex;
    color: #f5f5f5;
    background: #131415;
    justify-content: center;
    align-items: center;
}

.footer__container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
font-size: 14px;
}
.footer__logo {
  margin: 20px;
}

.social__title {
  font-size: 14px;
    font-weight: bold;
}

.social__list {
  margin: 0px;
  padding: 0px;
}

.social__icon, .social__link {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
}

.social__link {
  background: #f5f5f5;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.social__icon {
  overflow: hidden;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin-right: 8px;

}

.social__icon::before {
  background-color: #f5f5f5;
}

.social__icon:hover {
  background-color: #cd7b14;
  transition: 0.3s;
}

.social__icon--link--vk {
  background: url('/img/vk.png') no-repeat center center; 
}

.social__icon--link--fb {
  background: url('/img/fb.png') no-repeat center center; 
}
.social__icon--link--google {
  background: url('/img/google.png') no-repeat center center; 
}
.social__icon--link--twitter {
  background: url('/img/twitter.png') no-repeat center center; 
}
.social__icon--link--mail {
  background: url('/img/mail.png') no-repeat center center; 
}

.loft {
  color: #fff;
}

.name-author {
  color: #fff;
}

.breadcrumbs__list {
  margin-top: 36px;
}

.breadcrumbs__item, .breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item {
  font-size: 12px;
}

.breadcrumbs__link {
  color: #fab04f;
  font-style: italic;
  font-size: 18px;
  text-decoration: underline;
}

.breadcrumbs__link--unactive {
  color: #000;
  text-decoration: none;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.rewiew__item {
  display: flex;
  justify-content: start;
  margin: 30px 0px 40px 0px;
}

.rewiew__avatar-pic {
  padding: 20px 30px;
  opacity: 1;
  filter: grayscale(100%);
  border-radius: 100%;
background: #f5f5f5;
  }

  .rewiew__avatar-elem {
    border-radius: 50%;
      background: #f5f5f5;
  }
  .rewiew__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  }

  .rewiew__text {
    font-size: 20px;
    font-stretch: extra-expanded;
    line-height: 25px;
margin: 12px 0px 25px 0px;
  }

  .rewiew__name {
    font-size: 18px;
    font-weight: bold;
}

hr {
  opacity: 0.5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.pagination__display {
  font-size: 14px;
  font-weight: bolder;
}

.pagination__pages-list {
  display: flex;
  }

.pagination__pages-item {
  display: flex;
  justify-content: space-between;
 
}

.pagination__pages-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}

.pagination__pages-link:hover {
  color: #cd7b14;
  transition: 0.3s;
    }

.pagination__pages-link--act {
  background: #131415;
  border-radius: 10%;
  color: #cd7b14;
}

.service {
  display: flex;
    background: #131415;
    background-image: url(./img/pattern.png);
    color: #ffffff;
    height: 170px;
    margin: 45px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.service__text {
  font-stretch: extra-expanded;
    line-height: 25px;
    font-size: 19px;
}

.service__link {
  color: #d98413;
  font-stretch: extra-expanded;
}

form {
  display: block;
  margin-top: 0em;
}

.form-section {
    display: flex;
    justify-content: center;
    margin: 65px 200px;
}

.form {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 60px;
}

.form__title {
  font-weight: bold;
  font-size: 49px;
  margin-bottom: 10px;
  margin-top: 0;

}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block-title {
  font-size: 14px;
  margin-bottom: 7px;
}

.form__block {
  margin-right: 30px;
  flex: 1;
}

.form__block:last-child {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.form__input {
  padding: 15px 9px;
  background: #fff;
  border: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
}

.form__input:focus {
  border-color: red;
}

.form__input--textarea {
  resize: vertical;
  height: 90px;
}

.form__question {
  margin: 0px 0px 10px 0px;
}

.form__section-radio {
    margin: 0px 50px 0px 0px;

}

.form__btn {
  display: flex;
  justify-content: start;
  margin-left: auto;
  background: #221f1f;
  border-radius: 5px;
  border: 0;
  color: #f5f5f5; 
  block-size: 50px;
  padding: 15px;
}

.form__btn:hover {
  background: #d98413;
  transition: 0.3s;
}

.form__point {
  display: flex;
}

.title {
  font-size: 49px;
  font-weight: bold;
  color: #221f1f;
}